In [ ]:
# %pip install numpy pandas
# %pip install plotly

Collecting plotly
  Downloading plotly-6.2.0-py3-none-any.whl.metadata (8.5 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.48.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in ./new_ltv/lib/python3.11/site-packages (from plotly) (25.0)
Downloading plotly-6.2.0-py3-none-any.whl (9.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 1.7 MB/s eta 0:00:0000:0100:01
Downloading narwhals-1.48.0-py3-none-any.whl (376 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 376.9/376.9 kB 1.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.48.0 plotly-6.2.0

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Quick test to verify numpy and pandas are working
print("Testing numpy and pandas functionality...")

# Test numpy
test_array = np.array([1, 2, 3, 4, 5])
print(f"NumPy array test: {test_array}")
print(f"Array sum: {np.sum(test_array)}")

# Test pandas
test_df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(f"\nPandas DataFrame test:")
print(test_df)

print("\n🎉 Both libraries are working correctly!")

Testing numpy and pandas functionality...
NumPy array test: [1 2 3 4 5]
Array sum: 15

Pandas DataFrame test:
   A  B
0  1  4
1  2  5
2  3  6

🎉 Both libraries are working correctly!

In [6]:
import os
import glob

# Get all .txt files from the data folder
data_folder = 'data'
file_pattern = os.path.join(data_folder, '*.csv')
data_files = glob.glob(file_pattern)

print(f"Found {len(data_files)} data files:")

# Read all files and combine into a single dataframe
dataframes = []

for file in data_files:
    print(file)
    # Read as tab-separated values (TSV)
    df = pd.read_csv(file, low_memory=False)
    
    # Add a column to track which file the data came from
    df['source_file'] = os.path.basename(file)
    
    dataframes.append(df)

# Combine all dataframes
combined_df = pd.concat(dataframes, ignore_index=True)

# Replace hyphens with underscores in column names
combined_df.columns = combined_df.columns.str.replace('-', '_')

print(f"\nCombined dataframe shape: {combined_df.shape}")
print(f"Columns after renaming: {list(combined_df.columns)}")

# Display basic info about the combined dataset
print("\nDataset Info:")
print(f"Total rows: {len(combined_df):,}")
print(f"Total columns: {len(combined_df.columns)}")
print(f"Data from {combined_df['source_file'].nunique()} files")

# Show first few rows
print("\nFirst 5 rows:")
combined_df.head()

Found 13 data files:
data/408779020275.csv
data/408785020275.csv
data/408783020275.csv
data/408778020275.csv
data/408784020275.csv
data/408775020275.csv
data/408782020275.csv
data/408776020275.csv
data/408781020275.csv
data/Feb.csv
data/408786020275.csv
data/408777020275.csv
data/408780020275.csv

Combined dataframe shape: (18864, 49)
Columns after renaming: ['Amazon Order Id', 'Merchant Order Id', 'Shipment ID', 'Shipment Item Id', 'Amazon Order Item Id', 'Merchant Order Item Id', 'Purchase Date', 'Payments Date', 'Shipment Date', 'Reporting Date', 'Buyer Email', 'Buyer Name', 'Buyer Phone Number', 'Merchant SKU', 'Title', 'Shipped Quantity', 'Currency', 'Item Price', 'Item Tax', 'Shipping Price', 'Shipping Tax', 'Gift Wrap Price', 'Gift Wrap Tax', 'Ship Service Level', 'Recipient Name', 'Shipping Address 1', 'Shipping Address 2', 'Shipping Address 3', 'Shipping City', 'Shipping State/Province/Region', 'Shipping Postal Code', 'Shipping Country Code', 'Shipping Phone Number', 'Billing Address 1', 'Billing Address 2', 'Billing Address 3', 'Billing City', 'Billing State/Province/Region', 'bill_postal_code', 'bill_country', 'Item Promo Discount', 'Shipment Promo Discount', 'Carrier', 'Tracking Number', 'Estimated Arrival Date', 'FC', 'Fulfillment Channel', 'Sales Channel', 'source_file']

Dataset Info:
Total rows: 18,864
Total columns: 49
Data from 13 files

First 5 rows:

,Amazon Order Id,Merchant Order Id,Shipment ID,Shipment Item Id,Amazon Order Item Id,Merchant Order Item Id,Purchase Date,Payments Date,Shipment Date,Reporting Date,...,bill_country,Item Promo Discount,Shipment Promo Discount,Carrier,Tracking Number,Estimated Arrival Date,FC,Fulfillment Channel,Sales Channel,source_file
0,701-0060274-5998647,NaN,BBj2JD7Ts,DgRXHQL9kG0hR,122582269474201,NaN,2025-02-28T15:44:18-08:00,2025-02-28T23:23:11-08:00,2025-02-28T23:23:13-08:00,2025-03-01T00:23:21-08:00,...,NaN,0.0,-2.33,AMZN_CA,TBC397061343009,2025-03-01T06:00:00-08:00,YYC4,AFN,amazon.ca,408779020275.csv
1,702-6547162-0184247,NaN,Bh7Vv8g3s,DPV9b7LYkG06R,122418230343641,NaN,2025-02-27T20:09:10-08:00,2025-02-28T23:15:30-08:00,2025-02-28T23:15:34-08:00,2025-03-01T00:15:46-08:00,...,NaN,0.0,-2.45,AMZN_CA,TBC396525480009,2025-03-01T20:00:00-08:00,YHM1,AFN,amazon.ca,408779020275.csv
2,702-5642001-3352204,NaN,BHK4cZ8Ms,DjDgbWL6kk0CR,122557696441841,NaN,2025-02-28T06:53:10-08:00,2025-03-01T00:19:06-08:00,2025-02-28T23:14:24-08:00,2025-03-01T01:14:30-08:00,...,NaN,0.0,0.00,AMZN_CA,TBC396762870009,2025-03-01T20:00:00-08:00,YHM1,AFN,amazon.ca,408779020275.csv
3,701-2363109-2377045,NaN,BW57cY7cs,D8nQbkLzkc0QR,122519092882801,NaN,2025-02-28T12:26:30-08:00,2025-03-01T00:12:48-08:00,2025-02-28T23:06:04-08:00,2025-03-01T01:06:10-08:00,...,NaN,-1.5,0.00,AMZN_CA,TBC397119419009,2025-03-01T20:00:00-08:00,YXU1,AFN,amazon.ca,408779020275.csv
4,702-2729590-5981844,NaN,BvvJ4v7Ws,D4n4byLvkc0QR,122560679507521,NaN,2025-02-28T07:59:22-08:00,2025-02-28T23:05:32-08:00,2025-02-28T23:05:34-08:00,2025-03-01T00:05:40-08:00,...,NaN,0.0,0.00,AMZN_CA,TBC396848066009,2025-03-01T20:00:00-08:00,YXU1,AFN,amazon.ca,408779020275.csv

In [7]:
combined_df.columns = combined_df.columns.str.replace(' ', '_').str.lower()
combined_df.head()

,amazon_order_id,merchant_order_id,shipment_id,shipment_item_id,amazon_order_item_id,merchant_order_item_id,purchase_date,payments_date,shipment_date,reporting_date,...,bill_country,item_promo_discount,shipment_promo_discount,carrier,tracking_number,estimated_arrival_date,fc,fulfillment_channel,sales_channel,source_file
0,701-0060274-5998647,NaN,BBj2JD7Ts,DgRXHQL9kG0hR,122582269474201,NaN,2025-02-28T15:44:18-08:00,2025-02-28T23:23:11-08:00,2025-02-28T23:23:13-08:00,2025-03-01T00:23:21-08:00,...,NaN,0.0,-2.33,AMZN_CA,TBC397061343009,2025-03-01T06:00:00-08:00,YYC4,AFN,amazon.ca,408779020275.csv
1,702-6547162-0184247,NaN,Bh7Vv8g3s,DPV9b7LYkG06R,122418230343641,NaN,2025-02-27T20:09:10-08:00,2025-02-28T23:15:30-08:00,2025-02-28T23:15:34-08:00,2025-03-01T00:15:46-08:00,...,NaN,0.0,-2.45,AMZN_CA,TBC396525480009,2025-03-01T20:00:00-08:00,YHM1,AFN,amazon.ca,408779020275.csv
2,702-5642001-3352204,NaN,BHK4cZ8Ms,DjDgbWL6kk0CR,122557696441841,NaN,2025-02-28T06:53:10-08:00,2025-03-01T00:19:06-08:00,2025-02-28T23:14:24-08:00,2025-03-01T01:14:30-08:00,...,NaN,0.0,0.00,AMZN_CA,TBC396762870009,2025-03-01T20:00:00-08:00,YHM1,AFN,amazon.ca,408779020275.csv
3,701-2363109-2377045,NaN,BW57cY7cs,D8nQbkLzkc0QR,122519092882801,NaN,2025-02-28T12:26:30-08:00,2025-03-01T00:12:48-08:00,2025-02-28T23:06:04-08:00,2025-03-01T01:06:10-08:00,...,NaN,-1.5,0.00,AMZN_CA,TBC397119419009,2025-03-01T20:00:00-08:00,YXU1,AFN,amazon.ca,408779020275.csv
4,702-2729590-5981844,NaN,BvvJ4v7Ws,D4n4byLvkc0QR,122560679507521,NaN,2025-02-28T07:59:22-08:00,2025-02-28T23:05:32-08:00,2025-02-28T23:05:34-08:00,2025-03-01T00:05:40-08:00,...,NaN,0.0,0.00,AMZN_CA,TBC396848066009,2025-03-01T20:00:00-08:00,YXU1,AFN,amazon.ca,408779020275.csv

In [8]:
combined_df['currency'].unique()

array(['CAD', 'USD'], dtype=object)

In [9]:
combined_df.to_csv('combined_df.csv', index=False)

In [10]:
# Convert SQL query to pandas operations to create ProductRaw dataframe
import pandas as pd
import numpy as np
from datetime import datetime
import math

# First, let's check what columns we have
print("Available columns in combined_df:")
print(list(combined_df.columns))
print(f"\nDataframe shape: {combined_df.shape}")

# Check for required columns
required_cols = ['buyer_email', 'merchant_sku', 'purchase_date', 'item_price', 'currency', 'shipped_quantity', 'amazon_order_id']
missing_cols = [col for col in required_cols if col not in combined_df.columns]
if missing_cols:
    print(f"\nMissing columns: {missing_cols}")
else:
    print("\nAll required columns found!")

Available columns in combined_df:
['amazon_order_id', 'merchant_order_id', 'shipment_id', 'shipment_item_id', 'amazon_order_item_id', 'merchant_order_item_id', 'purchase_date', 'payments_date', 'shipment_date', 'reporting_date', 'buyer_email', 'buyer_name', 'buyer_phone_number', 'merchant_sku', 'title', 'shipped_quantity', 'currency', 'item_price', 'item_tax', 'shipping_price', 'shipping_tax', 'gift_wrap_price', 'gift_wrap_tax', 'ship_service_level', 'recipient_name', 'shipping_address_1', 'shipping_address_2', 'shipping_address_3', 'shipping_city', 'shipping_state/province/region', 'shipping_postal_code', 'shipping_country_code', 'shipping_phone_number', 'billing_address_1', 'billing_address_2', 'billing_address_3', 'billing_city', 'billing_state/province/region', 'bill_postal_code', 'bill_country', 'item_promo_discount', 'shipment_promo_discount', 'carrier', 'tracking_number', 'estimated_arrival_date', 'fc', 'fulfillment_channel', 'sales_channel', 'source_file']

Dataframe shape: (18864, 49)

All required columns found!

In [11]:
combined_df['purchase_date'] = pd.to_datetime(combined_df['purchase_date'], utc=True, errors='coerce')

# Remove rows where purchase_date couldn't be parsed (NaT values)
combined_df = combined_df.dropna(subset=['purchase_date'])

filtered_df = combined_df[
    (combined_df['currency'] == 'USD') &
    (combined_df['item_price'] > 0) &
    (combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01')
].copy()

## Calculating ProductRaw

In [12]:
# Ensure purchase_date is datetime objects for proper filtering and min operations
# Use utc=True to handle mixed time zones and errors='coerce' to handle parsing errors
combined_df['purchase_date'] = pd.to_datetime(combined_df['purchase_date'], utc=True, errors='coerce')

# Remove rows where purchase_date couldn't be parsed (NaT values)
combined_df = combined_df.dropna(subset=['purchase_date'])

filtered_df = combined_df[
    (combined_df['currency'] == 'USD') &
    (combined_df['item_price'] > 0) &
    (combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01')
].copy() # .copy() to avoid SettingWithCopyWarning

# Step 2: Calculate MIN(purchase_date) partitioned by buyer_email, merchant_sku
# Convert purchase_date to 'YYYY-MM-DD' string format as in SQL's STRFTIME
filtered_df['buyer_email'] = filtered_df['buyer_email'].fillna('NA')
filtered_df['pome_date'] = filtered_df.groupby(['buyer_email', 'merchant_sku'], dropna=False)['purchase_date'].transform('min').dt.strftime('%Y-%m-%d')

# Step 3: Select distinct buyer_email, merchant_sku, and the calculated pome_date
result_df = filtered_df[['buyer_email', 'merchant_sku', 'pome_date']].drop_duplicates().reset_index(drop=True)

# Rename buyer_email to user_id as per SQL alias
ntb = result_df.rename(columns={'buyer_email': 'user_id'})

# Select and rename columns, and perform type conversions
raw_data_df = filtered_df[[
    'buyer_email',
    'amazon_order_id',
    'merchant_sku',
    'purchase_date',
    'item_price',
    'shipped_quantity'
]].copy()

# Rename columns as per the SQL aliases
raw_data_df = raw_data_df.rename(columns={
    'buyer_email': 'user_id',
    'amazon_order_id': 'order_id',
    'item_price': 'sales',
    'shipped_quantity': 'quantity'
})

# Apply STRFTIME( "%Y-%m-%d" , purchase_date )
raw_data_df['purchase_date'] = raw_data_df['purchase_date'].dt.strftime('%Y-%m-%d')

# Cast item_price as decimal(10, 2) - Pandas handles floats with high precision
# For displaying exactly two decimal places, you might format it later if needed,
# but the underlying data type remains float.
raw_data_df['sales'] = raw_data_df['sales'].astype(float).round(2)

# Apply DISTINCT
# The SQL query uses DISTINCT on all selected columns.
raw_data = raw_data_df.drop_duplicates()

In [13]:
# Convert the SQL query to pandas operations
import math

# Perform left join between raw_data and ntb
process_data = raw_data.merge(
    ntb,
    on=['user_id', 'merchant_sku'],
    how='left'
)

# Convert date columns to datetime for calculation
process_data['purchase_date'] = pd.to_datetime(process_data['purchase_date'])
process_data['pome_date'] = pd.to_datetime(process_data['pome_date'])

# Calculate date difference (equivalent to JULIANDAY difference)
process_data['date_diff'] = (process_data['purchase_date'] - process_data['pome_date']).dt.days

# Calculate months (equivalent to CEIL(date_diff / 30))
# Calculate months (equivalent to CEIL(date_diff / 30))
# Handle NaN values by filling them before converting to int
# process_data['months'] = np.ceil(process_data['date_diff'] / 30) #.astype(int)
process_data['months'] = np.ceil(process_data['date_diff'] / 30) 

# Group by user_id, merchant_sku, order_id, purchase_date, pome_date
# and aggregate sales and quantity
process_data_agg = process_data.groupby([
    'user_id', 
    'merchant_sku', 
    'order_id', 
    'purchase_date', 
    'pome_date'
], dropna=False).agg({
    'sales': 'sum',
    'quantity': 'sum',
    'date_diff': 'first',  # These should be the same within each group
    'months': 'first'      # These should be the same within each group
}).reset_index()

result = process_data_agg.groupby(['merchant_sku', 'months'], dropna=False).agg({
    'user_id': 'nunique',      # COUNT(distinct user_id) as users
    'sales': 'sum',            # SUM(sales) as sales
    'quantity': 'sum',         # SUM(quantity) as quantity
    'order_id': 'nunique'      # COUNT(distinct order_id) as orders
}).reset_index()

# Rename columns to match SQL aliases
ProductRaw = result.rename(columns={
    'user_id': 'users',
    'order_id': 'orders'  # Changed from 'users' to 'orders' - assuming this was a typo
})

print(ProductRaw.shape)
ProductRaw.head(20)

(115, 6)

       merchant_sku  months  users    sales  quantity  orders
0      101.201.4906     0.0     82  1377.00        83      83
1      101.201.4906     3.0      1    17.00         1       1
2      101.201.4906     6.0      1    17.00         1       1
3      101.201.4908     0.0    204  3481.60       205     205
4      101.201.4908     1.0      4    68.00         4       4
5      101.201.4908     2.0      4    68.00         4       4
6      101.201.4908     3.0      2    34.00         2       2
7      101.201.4908     4.0      1    17.00         1       1
8      101.201.4908     6.0      2    34.00         2       2
9   101.201.5121 -1     0.0      2   449.85        15      15
10  101.201.5121 -1     1.0      1   479.84        16      16
11     111.226.4907     0.0     15   269.85        15      15
12     111.226.4907     2.0      1    17.99         1       1
13     111.226.4907     3.0      1    35.98         2       2
14     2O-2BH8-EBBX     0.0    144  3386.46       154     145
15     2O-2BH8-EBBX     1.0     15   395.82        18      17
16     2O-2BH8-EBBX     2.0     16   527.76        24      21
17     2O-2BH8-EBBX     3.0     11   351.84        16      15
18     2O-2BH8-EBBX     4.0      8   285.87        13       9
19     2O-2BH8-EBBX     5.0      9   263.88        12      11

In [14]:
ProductRaw.to_csv('ProductRaw.csv', index=False)

## Calculating ProductSummary

In [15]:
# Convert SQL ProductSummary query to pandas operations

# Step 1: Create cte_tbl equivalent
# First, create the base table with required columns and transformations
cte_tbl = combined_df[[
    'buyer_email', 'merchant_sku', 'amazon_order_id', 'purchase_date', 
    'item_price', 'shipped_quantity', 'currency'
]].copy()
cte_tbl['buyer_email'] = cte_tbl['buyer_email'].fillna('NA')

# Apply STRFTIME transformations
cte_tbl['purch_date'] = pd.to_datetime(cte_tbl['purchase_date']).dt.strftime('%Y-%m-%d')
cte_tbl['purch_month'] = pd.to_datetime(cte_tbl['purchase_date']).dt.strftime('%Y-%m-01')

# Apply filters
cte_tbl = cte_tbl[
    (cte_tbl['currency'] == 'USD') &
    (cte_tbl['item_price'] > 0) &
    (cte_tbl['purch_month'] > '2022-09-01')
].copy()

# Add magnitude column (row_number() over partition by buyer_email, merchant_sku order by purchase_date)
# Add magnitude column (row_number() over partition by buyer_email, merchant_sku order by purchase_date)
# Handle NaN values by filling them before converting to int
cte_tbl['magnitude'] = cte_tbl.groupby(['buyer_email', 'merchant_sku'], dropna=False)['purchase_date'].rank(method='first', ascending=True)#.fillna(1).astype(int)

# print("\nFirst 5 rows of cte_tbl:")
# cte_tbl.head()

In [16]:
import pandas as pd
import numpy as np

# Assuming cte_tbl is your DataFrame
df = cte_tbl.copy()
df['buyer_email'] = df['buyer_email'].astype(str)

df['orig_sales'] = np.where(df['magnitude'] == 1, df['item_price'], 0)
df['orig_quantity'] = np.where(df['magnitude'] == 1, df['shipped_quantity'], 0)
df['orig_buyer_email_for_count'] = np.where(df['magnitude'] == 1, df['buyer_email'], np.nan)

df['repeat_sales'] = np.where(df['magnitude'] > 1, df['item_price'], 0)
df['repeat_quantity'] = np.where(df['magnitude'] > 1, df['shipped_quantity'], 0)
df['repeat_buyer_email_for_count'] = np.where(df['magnitude'] > 1, df['buyer_email'], np.nan)

# Define correct group-by columns (1, 2, 3 from SELECT)
group_cols = ['buyer_email', 'merchant_sku', 'amazon_order_id']

agg_operations = {
    'orig_users': ('orig_buyer_email_for_count', 'nunique'),
    'orig_sales': ('orig_sales', 'sum'),
    'orig_quantity': ('orig_quantity', 'sum'),
    'repeat_users': ('repeat_buyer_email_for_count', 'nunique'),
    'repeat_sales': ('repeat_sales', 'sum'),
    'repeat_quantity': ('repeat_quantity', 'sum')
}

cte_tbl_raw = df.groupby(group_cols, as_index=False, dropna=False).agg(**agg_operations)

In [17]:
# Step 2: Create cte_test equivalent using UNION logic
# First part: magnitude = 1 (original users/sales/quantity)
cte_test_part1 = cte_tbl[cte_tbl['magnitude'] == 1].groupby('merchant_sku', dropna=False).agg({
    'buyer_email': 'nunique',    # users
    'item_price': 'sum',         # sales  
    'shipped_quantity': 'sum'    # quantity
}).reset_index()

cte_test_part1.columns = ['merchant_sku', 'users', 'sales', 'quantity']
cte_test_part1['users1'] = 0
cte_test_part1['sales1'] = 0
cte_test_part1['quantity1'] = 0
cte_test_part1['orders'] = cte_test_part1['users']  # count distinct buyer_email as orders
cte_test_part1['orders1'] = 0

# Second part: magnitude > 1 (repeat users/sales/quantity)
cte_test_part2 = cte_tbl[cte_tbl['magnitude'] > 1].groupby('merchant_sku', dropna=False).agg({
    'buyer_email': 'nunique',    # users1
    'item_price': 'sum',         # sales1
    'shipped_quantity': 'sum'    # quantity1
}).reset_index()

cte_test_part2.columns = ['merchant_sku', 'users1', 'sales1', 'quantity1']
cte_test_part2['users'] = 0
cte_test_part2['sales'] = 0
cte_test_part2['quantity'] = 0
cte_test_part2['orders'] = 0
cte_test_part2['orders1'] = cte_test_part2['users1']  # count distinct buyer_email as orders1

# Combine both parts (equivalent to UNION)
cte_test = pd.concat([cte_test_part1, cte_test_part2], ignore_index=True)

print("\nFirst 10 rows of cte_test:")
cte_test.head(10)

First 10 rows of cte_test:

,merchant_sku,users,sales,quantity,users1,sales1,quantity1,orders,orders1
0,101.201.4906,82,1360.00,82,0,0.0,0,82,0
1,101.201.4908,204,3464.60,204,0,0.0,0,204,0
2,101.201.5121 -1,2,59.98,2,0,0.0,0,2,0
3,111.226.4907,15,269.85,15,0,0.0,0,15,0
4,2O-2BH8-EBBX,144,3298.50,150,0,0.0,0,144,0
5,Amazon.Found.B093QGJCDH,1,21.99,1,0,0.0,0,1,0
6,C6009-1,160,5521.40,160,0,0.0,0,160,0
7,C81044,651,10856.20,651,0,0.0,0,651,0
8,CT-360P-6G6P,17,289.00,17,0,0.0,0,17,0
9,FG20065-1,95,2177.01,99,0,0.0,0,95,0

In [18]:
# Step 3: Final aggregation (equivalent to final SELECT)
ProductSummary = cte_test.groupby('merchant_sku', dropna=False).agg({
    'users': 'sum',
    'sales': 'sum', 
    'quantity': 'sum',
    'users1': 'sum',
    'sales1': 'sum',
    'quantity1': 'sum',
    'orders': 'sum',
    'orders1': 'sum'
}).reset_index()

ProductSummary['orders'] = ProductSummary['quantity']
ProductSummary['orders1'] = ProductSummary['quantity']

print("\nFirst 10 rows of ProductSummary:")
ProductSummary.head(20)

First 10 rows of ProductSummary:

,merchant_sku,users,sales,quantity,users1,sales1,quantity1,orders,orders1
0,101.201.4906,82,1360.00,82,5,102.00,6,82,82
1,101.201.4908,204,3464.60,204,35,731.00,43,204,204
2,101.201.5121 -1,2,59.98,2,1,869.71,29,2,2
3,111.226.4907,15,269.85,15,4,107.94,6,15,15
4,2O-2BH8-EBBX,144,3298.50,150,50,3606.36,164,150,150
5,Amazon.Found.B093QGJCDH,1,21.99,1,0,0.00,0,1,1
6,C6009-1,160,5521.40,160,45,2883.17,83,160,160
7,C81044,651,10856.20,651,132,4783.80,283,651,651
8,CT-360P-6G6P,17,289.00,17,5,136.00,8,17,17
9,FG20065-1,95,2177.01,99,17,1033.53,47,99,99
10,FG20067-1,84,1891.14,86,25,1143.48,52,86,86
11,FG70051-1,301,9026.99,301,44,1589.47,53,301,301
12,FG70060,132,1910.60,132,41,1241.02,89,132,132
13,FG70066-1,244,6025.00,244,48,3155.00,127,244,244
14,FG80064_FBA-1,222,3740.00,222,56,1424.60,84,222,222
15,Y3-Y8OE-1YP3,303,6772.92,308,78,5189.64,236,308,308

In [19]:
ProductSummary.to_csv('ProductSummary.csv', index=False)

## Calculating RawData

In [20]:
# Convert SQL RawData query to pandas operations

# Step 1: Create ntb equivalent
ntb_df = combined_df[combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01'].copy()
ntb_df['buyer_email'] = ntb_df['buyer_email'].fillna('NA')
ntb_df['pome_month'] = ntb_df.groupby('buyer_email', dropna=False)['purchase_date'].transform(lambda x: x.dt.strftime('%Y-%m-01').min())
ntb = ntb_df[['buyer_email', 'pome_month']].drop_duplicates().rename(columns={'buyer_email': 'user_id'})

# Step 2: Create pntb equivalent  
pntb_df = combined_df[combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01'].copy()
pntb_df['pntb_title'] = pntb_df.groupby('merchant_sku', dropna=False)['title'].transform('min')
pntb_df['pntb_month'] = pntb_df.groupby('merchant_sku', dropna=False)['purchase_date'].transform(lambda x: x.dt.strftime('%Y-%m-01').min())
pntb = pntb_df[['merchant_sku', 'pntb_title', 'pntb_month']].drop_duplicates().rename(columns={'merchant_sku': 'tracking_id'})

# Step 3: Create output_tbl equivalent
# Filter the main dataframe
filtered_df = combined_df[
    (combined_df['currency'] == 'USD') &
    (combined_df['item_price'] > 0) &
    (combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01')
].copy()

# Create month column
filtered_df['month'] = filtered_df['purchase_date'].dt.strftime('%Y-%m-01')
filtered_df['buyer_email'] = filtered_df['buyer_email'].fillna('NA')

# Left join with ntb
output_tbl1 = filtered_df.merge(
    ntb,
    left_on='buyer_email',
    right_on='user_id',
    how='left'
)

# Left join with pntb
output_tbl = output_tbl1.merge(
    pntb,
    left_on='merchant_sku', 
    right_on='tracking_id',
    how='left'
)

output_tbl['buyer_email'] = output_tbl['buyer_email'].fillna('NA')
output_tbl['amazon_order_id'] = output_tbl['amazon_order_id'].fillna('NA')


# Group by and aggregate
RawData = output_tbl.groupby(['month', 'merchant_sku', 'pntb_title', 'pome_month', 'pntb_month'], dropna=False).agg({
    'buyer_email': 'nunique',       # users
    'shipped_quantity': 'sum',      # quantity  
    'amazon_order_id': 'nunique',   # orders
    'item_price': 'sum'             # sales
}).reset_index()

# Rename columns
RawData = RawData.rename(columns={
    'buyer_email': 'users',
    'shipped_quantity': 'quantity',
    'amazon_order_id': 'orders', 
    'item_price': 'sales'
})

# Calculate derived columns (cast as decimal(10,2) equivalent)
RawData['avg_per_item'] = (RawData['sales'] / RawData['quantity']).round(2)
RawData['avg_per_order'] = (RawData['sales'] / RawData['orders']).round(2)
RawData['avg_per_user'] = (RawData['sales'] / RawData['users']).round(2)

# Round sales to 2 decimal places (equivalent to cast as decimal(10,2))
RawData['sales'] = RawData['sales'].round(2)

RawData.head(10)

,month,merchant_sku,pntb_title,pome_month,pntb_month,users,quantity,orders,sales,avg_per_item,avg_per_order,avg_per_user
0,2024-06-01,101.201.4908,Three Farmers - Roasted Chickpeas Variety Pack...,2024-06-01,2024-06-01,2,2,2,34.00,17.00,17.00,17.00
1,2024-06-01,2O-2BH8-EBBX,Three Farmers - Roasted Lentils | Barbecue | 1...,2024-06-01,2024-06-01,1,2,1,43.98,21.99,43.98,43.98
2,2024-06-01,C81044,Three Farmers Roasted Lentils Variety Pack Sna...,2024-06-01,2024-06-01,6,6,6,102.00,17.00,17.00,17.00
3,2024-06-01,FG20065-1,Three Farmers - Roasted Fava Beans | Dill Pick...,2024-06-01,2024-06-01,1,1,1,21.99,21.99,21.99,21.99
4,2024-06-01,FG70060,Three Farmers - Roasted Fava Beans 3-Pack | Se...,2024-06-01,2024-06-01,1,1,1,17.00,17.00,17.00,17.00
5,2024-06-01,FG70066-1,Three Farmers - Roasted Fava Beans | Variety P...,2024-06-01,2024-06-01,6,8,6,200.00,25.00,33.33,33.33
6,2024-06-01,FG80064_FBA-1,Three Farmers - Roasted Fava Beans Variety Pac...,2024-06-01,2024-06-01,3,3,3,51.00,17.00,17.00,17.00
7,2024-06-01,Y3-Y8OE-1YP3,Three Farmers - Roasted Lentils | Sea Salt | 1...,2024-06-01,2024-06-01,6,7,6,153.93,21.99,25.65,25.65
8,2024-07-01,101.201.4906,Three Farmers - Lentil Topper | Variety Pack |...,2024-07-01,2024-07-01,25,26,25,408.00,15.69,16.32,16.32
9,2024-07-01,101.201.4908,Three Farmers - Roasted Chickpeas Variety Pack...,2024-07-01,2024-06-01,16,18,16,302.60,16.81,18.91,18.91

In [21]:
RawData.to_csv('RawData.csv',index=False)

## RawData without SKU

In [22]:
# Convert SQL RawData query to pandas operations

# Step 1: Create ntb equivalent
ntb_df_wo_sku = combined_df[combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01'].copy()
ntb_df_wo_sku['buyer_email'] = ntb_df_wo_sku['buyer_email'].fillna('NA')
ntb_df_wo_sku['pome_month'] = ntb_df_wo_sku.groupby('buyer_email', dropna=False)['purchase_date'].transform(lambda x: x.dt.strftime('%Y-%m-01').min())
ntb_df_wo_sku = ntb_df_wo_sku[['buyer_email', 'pome_month']].drop_duplicates().rename(columns={'buyer_email': 'user_id'})

# Step 3: Create output_tbl equivalent
# Filter the main dataframe
filtered_df_wo_sku = combined_df[
    (combined_df['currency'] == 'USD') &
    (combined_df['item_price'] > 0) &
    (combined_df['purchase_date'].dt.strftime('%Y-%m-01') > '2022-09-01')
].copy()

# Create month column
filtered_df_wo_sku['month'] = filtered_df_wo_sku['purchase_date'].dt.strftime('%Y-%m-01')
filtered_df_wo_sku['buyer_email'] = filtered_df_wo_sku['buyer_email'].fillna('NA')

filtered_df_wo_sku = filtered_df_wo_sku[['month', 'buyer_email']].reset_index(drop=True)

# Left join with ntb
output_tbl_wo_sku = filtered_df_wo_sku.merge(
    ntb_df_wo_sku,
    left_on='buyer_email',
    right_on='user_id',
    how='left'
)
# output_tbl_wo_sku
# output_tbl_wo_sku['buyer_email'] = output_tbl_wo_sku['buyer_email'].fillna('NA').drop_duplicates()


# Group by and aggregate
RawDataWithoutSku = output_tbl_wo_sku.groupby(['month', 'pome_month'], dropna=False).agg({
    'buyer_email': 'nunique',       # users
}).reset_index()

# Rename columns
RawDataWithoutSku = RawDataWithoutSku.rename(columns={
    'buyer_email': 'users',
})

RawDataWithoutSku.head(10)

        month  pome_month  users
0  2024-06-01  2024-06-01     22
1  2024-07-01  2024-06-01      9
2  2024-07-01  2024-07-01    386
3  2024-08-01  2024-06-01      7
4  2024-08-01  2024-07-01     34
5  2024-08-01  2024-08-01    241
6  2024-09-01  2024-06-01      8
7  2024-09-01  2024-07-01     36
8  2024-09-01  2024-08-01     17
9  2024-09-01  2024-09-01    216

## Cohort Creation

In [23]:
pome_months = RawData['pome_month'].unique()
pome_months_no_nan = [x for x in pome_months if pd.notna(x)]

pome_months_no_nan[-12:]

['2024-07-01',
 '2024-08-01',
 '2024-09-01',
 '2024-10-01',
 '2024-11-01',
 '2024-12-01',
 '2025-01-01',
 '2025-02-01',
 '2025-03-01',
 '2025-04-01',
 '2025-05-01',
 '2025-06-01']

In [24]:
# selected_merchant_sku = "C6009-1"  # Set to None or empty string to use all data
selected_merchant_sku = None  # Uncomment this line to use all merchant SKUs

pome_months = RawData['pome_month'].unique()
pome_months_no_nan = [x for x in pome_months if pd.notna(x)]

all_months = pome_months_no_nan[-12:]

# Conditional filtering: if merchant_sku is provided, filter for that SKU, else use all data
if selected_merchant_sku and selected_merchant_sku.strip():
    RawData['IsFiltered'] = np.where(RawData['merchant_sku'] == selected_merchant_sku, 1, 0)
    print(f"Filtering data for merchant SKU: {selected_merchant_sku}")
else:
    RawData['IsFiltered'] = 1  # Include all records
    print("Using all merchant SKUs (no filtering applied)")

cohort_data = []

for selected_month in all_months:
    # Filter RawData where month == selected_month AND pome_month == selected_month AND isFiltered == 1
    filtered_data = RawData[
        (RawData['month'] == selected_month) & 
        (RawData['pome_month'] == selected_month) & 
        (RawData['IsFiltered'] == 1)
    ]
    
    # Sum the users for this condition
    cohort_size = filtered_data['users'].sum()
    
    # Add to our cohort_data list
    cohort_data.append({
        'POME Month': selected_month,
        'Cohort Size': cohort_size
    })

# Create new dataframe with two columns
cohort_df = pd.DataFrame(cohort_data)

cohort_df

Using all merchant SKUs (no filtering applied)

    POME Month  Cohort Size
0   2024-07-01          430
1   2024-08-01          249
2   2024-09-01          239
3   2024-10-01          226
4   2024-11-01          192
5   2024-12-01          139
6   2025-01-01          218
7   2025-02-01          202
8   2025-03-01          265
9   2025-04-01          154
10  2025-05-01           84
11  2025-06-01          124

In [25]:
# Create Customer Repeat Rates table structure
import pandas as pd
import numpy as np

# Define the metrics for each cohort
metrics = [
    'Active Customers',
    'Quantities', 
    'Orders',
    'Revenue',
    'Cumulative Revenue',
    'Retention Rate',
    'LTV'
]

# Get the months for columns (all months from our analysis)
month_columns = sorted(all_months)

# Create the base structure
table_data = []

# For each cohort month
for idx, row in cohort_df.iterrows():
    pome_month = row['POME Month']
    cohort_size = row['Cohort Size']
    
    # For each metric
    for metric in metrics:
        # Create a row for this cohort-metric combination
        row_data = {
            'POME Month': pome_month,
            'Cohort Size': cohort_size,
            'Metric': metric
        }
        
        # Add empty columns for each month
        for month in month_columns:
            row_data[month] = 0  # Initialize with 0, will be calculated later
        
        # Add Total column
        row_data['Total'] = 0
        
        table_data.append(row_data)

# Create the Customer Repeat Rates DataFrame
customer_repeat_rates = pd.DataFrame(table_data)

customer_repeat_rates.head(10)

,POME Month,Cohort Size,Metric,2024-07-01,2024-08-01,2024-09-01,2024-10-01,2024-11-01,2024-12-01,2025-01-01,2025-02-01,2025-03-01,2025-04-01,2025-05-01,2025-06-01,Total
0,2024-07-01,430,Active Customers,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2024-07-01,430,Quantities,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2024-07-01,430,Orders,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2024-07-01,430,Revenue,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2024-07-01,430,Cumulative Revenue,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2024-07-01,430,Retention Rate,0,0,0,0,0,0,0,0,0,0,0,0,0
6,2024-07-01,430,LTV,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2024-08-01,249,Active Customers,0,0,0,0,0,0,0,0,0,0,0,0,0
8,2024-08-01,249,Quantities,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2024-08-01,249,Orders,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
# Create a copy of the customer_repeat_rates table to work with
filled_table = customer_repeat_rates.copy()

# Convert month columns and Total column to float dtype to avoid dtype incompatibility warning
for month_col in month_columns:
    filled_table[month_col] = filled_table[month_col].astype(float)
filled_table['Total'] = filled_table['Total'].astype(float)

# Define which column to sum for each metric
metric_columns = {
    'Active Customers': 'users',
    'Quantities': 'quantity', 
    'Orders': 'orders',
    'Revenue': 'sales',
}

# Loop through each row in the table
for idx, row in filled_table.iterrows():
    pome_month = row['POME Month']
    cohort_size = row['Cohort Size']
    metric = row['Metric']
    
    # Skip if cohort size is 0 to avoid division by zero
    if cohort_size == 0:
        continue
    
    # Get the column to sum for this metric (skip Active Customers, Quantities, Orders, and Revenue as they're handled separately)
    if metric in metric_columns and metric not in ['Active Customers', 'Quantities', 'Orders', 'Revenue']:
        column_to_sum = metric_columns[metric]
        
        # Initialize running sum for cumulative metrics
        cumulative_sum = 0
        
        # Loop through each month column
        for month_col in month_columns:
            # Compare month column with POME Month
            if month_col < pome_month:
                # If month column is less than POME Month, set to 0
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise, filter RawData and sum the appropriate column
                filtered_data = RawData[
                    (RawData['month'] == month_col) & 
                    (RawData['pome_month'] == pome_month) & 
                    (RawData['IsFiltered'] == 1)
                ]
                
                # Sum the appropriate column for this condition
                value_sum = filtered_data[column_to_sum].sum()
                
                # Handle different metric calculations
                # (Orders and Revenue are now handled separately)
                pass

# Handle Active Customers calculation separately (Excel-like formula)
# Formula: =IF(E$8<$B9,"",SUMIFS(RawData!$F:$F,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1))
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Active Customers':
        pome_month = row['POME Month']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If E$8 < $B9: month column is less than POME Month, set to 0 (equivalent to "")
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise: SUMIFS(RawData!$F:$F,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1)
                # F:F = users column to sum
                # A:A = month column, E$8 = current month (month_col)
                # D:D = pome_month column, $B9 = POME Month (pome_month)
                # M:M = IsFiltered column = 1
                filtered_data = RawData[
                    (RawData['month'] == month_col) &       # A:A = month, E$8 = current month
                    (RawData['pome_month'] == pome_month) & # D:D = pome_month, $B9 = POME Month
                    (RawData['IsFiltered'] == 1)            # M:M = IsFiltered = 1
                ]
                
                # Sum the users column (F:F in Excel)
                active_customers = filtered_data['users'].sum()
                filled_table.at[idx, month_col] = round(active_customers, 0)

# Handle Quantities calculation separately (Excel-like formula)
# Formula: =IF(E$8<$B9,"",SUMIFS(RawData!$G:$G,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1))
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Quantities':
        pome_month = row['POME Month']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If E$8 < $B9: month column is less than POME Month, set to 0 (equivalent to "")
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise: SUMIFS(RawData!$G:$G,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1)
                # G:G = quantity column to sum
                # A:A = month column, E$8 = current month (month_col)
                # D:D = pome_month column, $B9 = POME Month (pome_month)
                # M:M = IsFiltered column = 1
                filtered_data = RawData[
                    (RawData['month'] == month_col) &       # A:A = month, E$8 = current month
                    (RawData['pome_month'] == pome_month) & # D:D = pome_month, $B9 = POME Month
                    (RawData['IsFiltered'] == 1)            # M:M = IsFiltered = 1
                ]
                
                # Sum the quantity column (G:G in Excel)
                quantities = filtered_data['quantity'].sum()
                filled_table.at[idx, month_col] = round(quantities, 0)

# Handle Orders calculation separately (Excel-like formula)
# Formula: =IF(E$8<$B9,"",SUMIFS(RawData!$H:$H,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1))
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Orders':
        pome_month = row['POME Month']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If E$8 < $B9: month column is less than POME Month, set to 0 (equivalent to "")
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise: SUMIFS(RawData!$H:$H,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1)
                # H:H = orders column to sum
                # A:A = month column, E$8 = current month (month_col)
                # D:D = pome_month column, $B9 = POME Month (pome_month)
                # M:M = IsFiltered column = 1
                filtered_data = RawData[
                    (RawData['month'] == month_col) &       # A:A = month, E$8 = current month
                    (RawData['pome_month'] == pome_month) & # D:D = pome_month, $B9 = POME Month
                    (RawData['IsFiltered'] == 1)            # M:M = IsFiltered = 1
                ]
                
                # Sum the orders column (H:H in Excel)
                orders = filtered_data['orders'].sum()
                filled_table.at[idx, month_col] = round(orders, 0)

# Handle Revenue calculation separately (Excel-like formula)
# Formula: =IF(E$8<$B9,"",SUMIFS(RawData!$I:$I,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1))
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Revenue':
        pome_month = row['POME Month']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If E$8 < $B9: month column is less than POME Month, set to 0 (equivalent to "")
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise: SUMIFS(RawData!$I:$I,RawData!$A:$A,E$8,RawData!$D:$D,$B9,RawData!$M:$M,1)
                # I:I = sales column to sum
                # A:A = month column, E$8 = current month (month_col)
                # D:D = pome_month column, $B9 = POME Month (pome_month)
                # M:M = IsFiltered column = 1
                filtered_data = RawData[
                    (RawData['month'] == month_col) &       # A:A = month, E$8 = current month
                    (RawData['pome_month'] == pome_month) & # D:D = pome_month, $B9 = POME Month
                    (RawData['IsFiltered'] == 1)            # M:M = IsFiltered = 1
                ]
                
                # Sum the sales column (I:I in Excel)
                revenue = filtered_data['sales'].sum()
                filled_table.at[idx, month_col] = int(round(revenue, 0))

# Handle Cumulative Revenue calculation separately (Excel-like formula)
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Cumulative Revenue':
        pome_month = row['POME Month']
        
        # Find the corresponding Revenue row for this POME Month first
        revenue_row_idx = None
        for rev_idx, rev_row in filled_table.iterrows():
            if (rev_row['POME Month'] == pome_month and 
                rev_row['Metric'] == 'Revenue'):
                revenue_row_idx = rev_idx
                break
        
        if revenue_row_idx is None:
            continue
            
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                filled_table.at[idx, month_col] = 0
            else:
                # Sum from the current month to the end of the analysis period
                current_month_index = month_columns.index(month_col)
                
                # Get the revenue values from the current month to the end
                revenue_values = []
                for future_month in month_columns[current_month_index:]:
                    revenue_values.append(filled_table.at[revenue_row_idx, future_month])
                
                # Calculate the cumulative sum
                cumulative_sum = sum(revenue_values)
                
                filled_table.at[idx, month_col] = int(round(cumulative_sum, 0))

# Handle Retention Rate calculation separately (Excel-like formula)
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'Retention Rate':
        pome_month = row['POME Month']
        cohort_size = row['Cohort Size']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If month column is less than POME Month, set to 0 (equivalent to "")
                filled_table.at[idx, month_col] = 0
            elif month_col == pome_month:
                # If month column equals POME Month, calculate: (SUMIFS(orders) / cohort_size) - 1
                # SUMIFS: orders where month=month_col AND pome_month=pome_month AND isFiltered=1
                filtered_data = RawData[
                    (RawData['month'] == month_col) & 
                    (RawData['pome_month'] == pome_month) & 
                    (RawData['IsFiltered'] == 1)
                ]
                
                orders_sum = filtered_data['orders'].sum()
                if cohort_size > 0:
                    retention_rate = (orders_sum / cohort_size) - 1
                    filled_table.at[idx, month_col] = round(retention_rate*100, 2)
                else:
                    filled_table.at[idx, month_col] = 0
            else:
                # If month column is greater than POME Month, calculate: Active_Customers / cohort_size
                # This corresponds to E9/$C9 in the Excel formula
                # Find the corresponding Active Customers row for this POME Month
                active_customers_row_idx = None
                for ac_idx, ac_row in filled_table.iterrows():
                    if (ac_row['POME Month'] == pome_month and 
                        ac_row['Metric'] == 'Active Customers'):
                        active_customers_row_idx = ac_idx
                        break
                
                if active_customers_row_idx is not None and cohort_size > 0:
                    active_customers = filled_table.at[active_customers_row_idx, month_col]
                    retention_rate = active_customers / cohort_size
                    filled_table.at[idx, month_col] = round(retention_rate*100, 4)
                else:
                    filled_table.at[idx, month_col] = 0

# Handle LTV calculation separately (Excel-like formula)
for idx, row in filled_table.iterrows():
    if row['Metric'] == 'LTV':
        pome_month = row['POME Month']
        cohort_size = row['Cohort Size']
        
        # For each month column
        for month_col in month_columns:
            if month_col < pome_month:
                # If month column is less than POME Month, set to 0
                filled_table.at[idx, month_col] = 0
            else:
                # Otherwise, calculate: Revenue / Cohort Size
                # Find the corresponding Revenue row for this POME Month
                revenue_row_idx = None
                for rev_idx, rev_row in filled_table.iterrows():
                    if (rev_row['POME Month'] == pome_month and 
                        rev_row['Metric'] == 'Revenue'):
                        revenue_row_idx = rev_idx
                        break
                
                if revenue_row_idx is not None and cohort_size > 0:
                    revenue = filled_table.at[revenue_row_idx, month_col]
                    ltv = revenue / cohort_size
                    filled_table.at[idx, month_col] = round(ltv, 2)
                else:
                    filled_table.at[idx, month_col] = 0

# Calculate Total column for each row
for idx, row in filled_table.iterrows():
    metric = row['Metric']
    total_value = sum([row[month] for month in month_columns])
    filled_table.at[idx, 'Total'] = total_value

In [27]:
filled_table.to_csv('cohort.csv', index=False)

In [28]:
filled_table[:7]

,POME Month,Cohort Size,Metric,2024-07-01,2024-08-01,2024-09-01,2024-10-01,2024-11-01,2024-12-01,2025-01-01,2025-02-01,2025-03-01,2025-04-01,2025-05-01,2025-06-01,Total
0,2024-07-01,430,Active Customers,430.00,39.0000,40.0000,29.0000,27.0000,18.000,26.0000,19.0000,15.0000,6.0000,1.0000,3.0000,653.0000
1,2024-07-01,430,Quantities,485.00,64.0000,53.0000,44.0000,37.0000,25.000,39.0000,50.0000,18.0000,7.0000,1.0000,3.0000,826.0000
2,2024-07-01,430,Orders,451.00,54.0000,46.0000,38.0000,32.0000,21.000,29.0000,20.0000,16.0000,6.0000,1.0000,3.0000,717.0000
3,2024-07-01,430,Revenue,9318.00,1372.0000,1180.0000,1008.0000,746.0000,509.000,835.0000,1029.0000,360.0000,201.0000,35.0000,87.0000,16680.0000
4,2024-07-01,430,Cumulative Revenue,16680.00,7362.0000,5990.0000,4810.0000,3802.0000,3056.000,2547.0000,1712.0000,683.0000,323.0000,122.0000,87.0000,47174.0000
5,2024-07-01,430,Retention Rate,4.88,9.0698,9.3023,6.7442,6.2791,4.186,6.0465,4.4186,3.4884,1.3953,0.2326,0.6977,56.7405
6,2024-07-01,430,LTV,21.67,3.1900,2.7400,2.3400,1.7300,1.180,1.9400,2.3900,0.8400,0.4700,0.0800,0.2000,38.7700

## MoM Retention

In [29]:
import pandas as pd

df_raw_data = RawData.copy()
df_raw_data['month'] = pd.to_datetime(df_raw_data['month'])
df_raw_data['pmonth_date'] = pd.to_datetime(df_raw_data['pome_month'])

# Create a dummy df_mom_retention based on your screenshot
mom_retention_data = {
    'Month': (list(filled_table['POME Month'])),
    'Cohort': (list(filled_table['Cohort Size']))
}

df_mom_retention = pd.DataFrame(mom_retention_data).drop_duplicates().reset_index(drop=True)
df_mom_retention['Month'] = pd.to_datetime(df_mom_retention['Month'])

def calculate_retention(cohort_month, retention_month, df_raw_data):
    """
    Calculates the MoM retention value based on the Excel formula:
    =IF(D$3<$B14,"",SUMIFS(RawData!$I:$I,RawData!$D:$D,$B14,RawData!$A:$A,D$3)/SUMIFS(RawData!$F:$F,RawData!$D:$D,$B14,RawData!$A:$A,D$3))
    
    This calculates Average Revenue Per User (ARPU) = sales/users

    Args:
        cohort_month (pd.Timestamp): The initial acquisition month of the cohort ($B14).
        retention_month (pd.Timestamp): The month for which retention is being calculated (D$3).
        raw_data_df (pd.DataFrame): The DataFrame containing the raw sales and users data.

    Returns:
        float or str: The retention value (sales/users) or an empty string if
                      retention_month is before cohort_month.
                      Returns 0 if denominator (users) is 0 to avoid division by zero.
    """

    # IF(D$3<$B14,"",...)
    if retention_month < cohort_month:
        return ""

    # Filter raw data for the specific cohort month and retention month
    # SUMIFS conditions: RawData!$D:$D=$B4 AND RawData!$A:$A=D$3
    filtered_data = df_raw_data[
        (df_raw_data['pmonth_date'] == cohort_month) &  # $D:$D=$B4 (pome_month)
        (df_raw_data['month'] == retention_month)       # $A:$A=D$3 (month)
    ]

    # SUMIFS(RawData!$I:$I,...) = sum of sales column
    sum_sales = filtered_data['sales'].sum()
    
    # SUMIFS(RawData!$F:$F,...) = sum of users column  
    sum_users = filtered_data['users'].sum()

    if sum_users == 0:
        return 0  # To handle #DIV/0! equivalent, return 0 
    else:
        return sum_sales / sum_users  # This is ARPU (Average Revenue Per User)

# --- 3. Apply the function to populate the MoM Retention table ---

# Get unique cohort months from your df_mom_retention
cohort_months = sorted(df_mom_retention['Month'].unique())

# Instead of using all months, use only the cohort analysis months (starting from 2024-07-01)
# This matches the cohort table structure
retention_columns_str = sorted(cohort_months)  # Use the same months as cohort analysis
retention_columns = [pd.to_datetime(month) for month in retention_columns_str]  # Convert to datetime for comparison


print(f"Cohort months: {[str(d) for d in cohort_months]}")
print(f"Retention columns: {retention_columns_str}")

retention_table = pd.DataFrame(index=cohort_months, columns=retention_columns)
# retention_table
for cohort_m in cohort_months:
    for retention_m in retention_columns_str:
        retention_table.loc[cohort_m, retention_m] = calculate_retention(
            cohort_m, retention_m, df_raw_data
        )

retention_table = retention_table.fillna('')
retention_table

Cohort months: ['2024-07-01 00:00:00', '2024-08-01 00:00:00', '2024-09-01 00:00:00', '2024-10-01 00:00:00', '2024-11-01 00:00:00', '2024-12-01 00:00:00', '2025-01-01 00:00:00', '2025-02-01 00:00:00', '2025-03-01 00:00:00', '2025-04-01 00:00:00', '2025-05-01 00:00:00', '2025-06-01 00:00:00']
Retention columns: [Timestamp('2024-07-01 00:00:00'), Timestamp('2024-08-01 00:00:00'), Timestamp('2024-09-01 00:00:00'), Timestamp('2024-10-01 00:00:00'), Timestamp('2024-11-01 00:00:00'), Timestamp('2024-12-01 00:00:00'), Timestamp('2025-01-01 00:00:00'), Timestamp('2025-02-01 00:00:00'), Timestamp('2025-03-01 00:00:00'), Timestamp('2025-04-01 00:00:00'), Timestamp('2025-05-01 00:00:00'), Timestamp('2025-06-01 00:00:00')]

/var/folders/j7/rpmm2mzs5fg7t780k3c6kl1m0000gr/T/ipykernel_2397/1250192492.py:78: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  retention_table = retention_table.fillna('')

,2024-07-01,2024-08-01,2024-09-01,2024-10-01,2024-11-01,2024-12-01,2025-01-01,2025-02-01,2025-03-01,2025-04-01,2025-05-01,2025-06-01
2024-07-01,21.67093,35.168974,29.4905,34.745517,27.634815,28.294444,32.104615,54.142105,24.001333,33.488333,34.99,28.993333
2024-08-01,,21.823414,21.583529,22.496875,30.38,28.33,40.992,48.222941,50.993333,24.995,32.49,34.990000
2024-09-01,,,23.146778,28.534615,22.579167,27.284286,35.425556,46.788,33.99125,23.495,0,17.000000
2024-10-01,,,,23.743053,19.218571,24.774286,39.966923,61.72875,26.437,36.502857,0,34.990000
2024-11-01,,,,,21.06651,30.291,32.993636,57.985714,23.3625,24.952,0,0.000000
2024-12-01,,,,,,21.270432,35.59,40.653333,27.995,0,0,0.000000
2025-01-01,,,,,,,24.39867,43.235714,29.952222,25.794,29.99,19.495000
2025-02-01,,,,,,,,42.965644,21.7985,22.596,29.99,29.990000
2025-03-01,,,,,,,,,21.335887,21.354,0,27.326667
2025-04-01,,,,,,,,,,26.256299,28.658333,32.490000
2025-05-01,,,,,,,,,,,30.547381,248.667500
2025-06-01,,,,,,,,,,,,26.050242

## New Customer

In [30]:
sku = None
if sku:
    filtered_data = RawData[RawData['merchant_sku']==sku].copy()
    #want to filter those rows where pome_month and month is equal
    filtered_data = filtered_data[filtered_data['pome_month']==filtered_data['month']]
else:
    filtered_data = RawDataWithoutSku.copy()
    filtered_data = filtered_data[filtered_data['pome_month']==filtered_data['month']]

new_users = filtered_data.groupby(['month']).agg({'users': 'sum'}).reset_index().rename(columns={'users': 'new_users'})

if sku:
    df_raw = RawData.copy()
else:
    df_raw = RawDataWithoutSku.copy()
all_users = df_raw.groupby(['month']).agg({'users': 'sum'}).reset_index().rename(columns={'users': 'all_users'})

combined_users = pd.merge(all_users,new_users, on='month', how='left')
combined_users['old_users'] = combined_users['all_users'] - combined_users['new_users']
combined_users

         month  all_users  new_users  old_users
0   2024-06-01         22         22          0
1   2024-07-01        395        386          9
2   2024-08-01        282        241         41
3   2024-09-01        277        216         61
4   2024-10-01        271        209         62
5   2024-11-01        232        176         56
6   2024-12-01        184        132         52
7   2025-01-01        274        203         71
8   2025-02-01        252        187         65
9   2025-03-01        312        242         70
10  2025-04-01        186        147         39
11  2025-05-01         95         83         12
12  2025-06-01        145        120         25

## Product Tab

In [31]:
ProductRaw

     merchant_sku  months  users    sales  quantity  orders
0    101.201.4906     0.0     82  1377.00        83      83
1    101.201.4906     3.0      1    17.00         1       1
2    101.201.4906     6.0      1    17.00         1       1
3    101.201.4908     0.0    204  3481.60       205     205
4    101.201.4908     1.0      4    68.00         4       4
..            ...     ...    ...      ...       ...     ...
110  Y3-Y8OE-1YP3     5.0      9   307.86        14      10
111  Y3-Y8OE-1YP3     6.0      5   219.90        10       6
112  Y3-Y8OE-1YP3     7.0      7   417.81        19      10
113  Y3-Y8OE-1YP3     8.0      3   131.94         6       3
114  Y3-Y8OE-1YP3     9.0      2   285.87        13       4

[115 rows x 6 columns]

In [35]:
# Create the base dataframe with unique merchant SKUs
merchant_sku = pd.DataFrame({"merchant_sku": list(ProductRaw['merchant_sku'].unique())})

# Calculate users for each merchant SKU where months == 0 (first month)
merchant_sku['users'] = merchant_sku.apply(
    lambda x: ProductRaw[(ProductRaw['months'] == 0) & (ProductRaw['merchant_sku'] == x['merchant_sku'])]['users'].sum(), 
    axis=1
)

# Rank by users (use 'first' method to handle ties and ensure unique ranks)
merchant_sku['rank_users'] = merchant_sku['users'].rank(ascending=False, method='first', na_option='keep')

# Set cohort equal to users
merchant_sku['cohort'] = merchant_sku['users']

# Reset index to ensure clean indexing before any mapping operations
merchant_sku = merchant_sku.reset_index(drop=True)

# Method 1: Direct approach without problematic reindexing
# Just use the merchant_sku itself as the merchant column initially
merchant_sku['merchant'] = merchant_sku['merchant_sku']

# Get the product titles using our lookup function (if available) or direct lookup
def get_product_title(sku):
    """Get product title for a given SKU"""
    try:
        # Try to find the title in RawData
        matching_rows = RawData[RawData['merchant_sku'] == sku]
        if not matching_rows.empty:
            return matching_rows['pntb_title'].iloc[0]
        else:
            return "Unknown Product"
    except:
        return "Unknown Product"

# Apply the lookup safely
merchant_sku['pntb_title'] = merchant_sku['merchant_sku'].apply(get_product_title)

print(f"Shape: {merchant_sku.shape}")
print("\nFirst few rows:")
merchant_sku

Shape: (16, 6)

First few rows:

,merchant_sku,users,rank_users,cohort,merchant,pntb_title
0,101.201.4906,82,12.0,82,101.201.4906,Three Farmers - Lentil Topper | Variety Pack |...
1,101.201.4908,204,6.0,204,101.201.4908,Three Farmers - Roasted Chickpeas Variety Pack...
2,101.201.5121 -1,2,15.0,2,101.201.5121 -1,Three Farmers Healthy Variety Snack Packs - Ro...
3,111.226.4907,15,14.0,15,111.226.4907,Three Farmers - Roasted Fava Beans | Milk Choc...
4,2O-2BH8-EBBX,144,8.0,144,2O-2BH8-EBBX,Three Farmers - Roasted Lentils | Barbecue | 1...
5,Amazon.Found.B093QGJCDH,1,16.0,1,Amazon.Found.B093QGJCDH,Three Farmers - Roasted Lentils | Barbecue | 1...
6,C6009-1,160,7.0,160,C6009-1,Three Farmers - Camelina Oil | Cold-Pressed Or...
7,C81044,651,1.0,651,C81044,Three Farmers Roasted Lentils Variety Pack Sna...
8,CT-360P-6G6P,17,13.0,17,CT-360P-6G6P,Three Farmers - Roasted Chickpeas | Dark Choco...
9,FG20065-1,95,10.0,95,FG20065-1,Three Farmers - Roasted Fava Beans | Dill Pick...
10,FG20067-1,84,11.0,84,FG20067-1,Three Farmers - Roasted Fava Beans | Zesty Che...
11,FG70051-1,301,3.0,301,FG70051-1,Three Farmers - Snacks To Go Variety Snack Pac...
12,FG70060,132,9.0,132,FG70060,Three Farmers - Roasted Fava Beans 3-Pack | Se...
13,FG70066-1,244,4.0,244,FG70066-1,Three Farmers - Roasted Fava Beans | Variety P...
14,FG80064_FBA-1,222,5.0,222,FG80064_FBA-1,Three Farmers - Roasted Fava Beans Variety Pac...
15,Y3-Y8OE-1YP3,303,2.0,303,Y3-Y8OE-1YP3,Three Farmers - Roasted Lentils | Sea Salt | 1...

In [47]:
# Create Product LTV table exactly like the image format
def create_product_ltv():
    """Create Product LTV table matching the exact format from the image"""
    
    # Get top 6 products by cohort size (as shown in image)
    top_products = merchant_sku.sort_values('users', ascending=False).head(6)
    
    final_table = []
    
    for idx, (_, product_row) in enumerate(top_products.iterrows(), 1):
        sku = product_row['merchant_sku']
        cohort_size = product_row['users']
        product_title = product_row['pntb_title']
        
        # Get ProductRaw data for this SKU
        sku_data = ProductRaw[ProductRaw['merchant_sku'] == sku].copy()
        
        # Create the main product entry with all metrics
        product_entry = {
            '#': idx,
            'Product Title': product_title,
            'Cohort Size': cohort_size,
            'Metric': ''  # This will hold multiple metric types
        }
        
        # Add month columns (Month 1 through Month 12)
        for month_num in range(1, 13):
            month_idx = month_num - 1  # Convert to 0-based for data lookup
            month_data = sku_data[sku_data['months'] == month_idx]
            
            # Initialize all metrics for this month
            active_customers = month_data['users'].sum() if not month_data.empty else 0
            purchases = month_data['quantity'].sum() if not month_data.empty else 0  
            revenue = int(month_data['sales'].sum()) if not month_data.empty else 0
            
            # Calculate cumulative revenue
            cumulative_revenue = 0
            for cum_month in range(0, month_idx + 1):
                cum_data = sku_data[sku_data['months'] == cum_month]
                cumulative_revenue += cum_data['sales'].sum() if not cum_data.empty else 0
            cumulative_revenue = int(cumulative_revenue)
            
            # Calculate retention rate
            retention_rate = round((active_customers / cohort_size * 100), 2) if cohort_size > 0 else 0.00
            
            # Calculate LTV
            ltv = round(revenue / cohort_size, 2) if cohort_size > 0 else 0.00
            
            # Store all metrics for this month in a structured way
            product_entry[f'Month {month_num}'] = {
                'Active Customers': active_customers,
                'Purchases': purchases,
                'Revenue': revenue,
                'Cumulative Revenue': cumulative_revenue,
                'Retention Rate': retention_rate,
                'LTV': ltv
            }
        
        final_table.append(product_entry)
    
    return final_table

# Create the table
product_ltv_data = create_product_ltv()

# Display the results in a readable format
print("PRODUCT LTV ANALYSIS")
print("=" * 100)

for product in product_ltv_data:
    print(f"\n{product['#']}. {product['Product Title']}")
    print(f"   Cohort Size: {product['Cohort Size']}")
    print(f"   SKU: {merchant_sku.iloc[product['#']-1]['merchant_sku']}")
    
    # Display metrics table for this product
    metrics = ['Active Customers', 'Purchases', 'Revenue', 'Cumulative Revenue', 'Retention Rate', 'LTV']
    
    print("\n   Monthly Metrics:")
    header = "   Metric".ljust(20) + "".join([f"Month {i}".rjust(10) for i in range(1, 13)])
    print(header)
    print("   " + "-" * 140)
    
    for metric in metrics:
        row = f"   {metric}".ljust(20)
        for month_num in range(1, 13):
            value = product[f'Month {month_num}'][metric]
            if metric == 'Retention Rate':
                row += f"{value}%".rjust(10)
            elif metric == 'LTV':
                row += f"${value}".rjust(10)
            else:
                row += str(value).rjust(10)
        print(row)
    print("\n" + "=" * 100)

print(f"\nTotal products analyzed: {len(product_ltv_data)}")

PRODUCT LTV ANALYSIS
====================================================================================================

1. Three Farmers Roasted Lentils Variety Pack Snacks (Sea Salt, Sea Salt & Vinegar, Barbecue) - 1 Variety Pack
   Cohort Size: 651
   SKU: 101.201.4906

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        651        28        26        23        19        20        11         6         6         5         0         0
   Purchases               651        36        29        23        22        25        11         7         6         6         0         0
   Revenue               10856       612       493       391       374       425       187       119       102       102         0         0
   Cumulative Revenue     10856     11468     11961     12352     12726     13151     13338     13457     13559     13661     13661     13661
   Retention Rate       100.0%      4.3%     3.99%     3.53%     2.92%     3.07%     1.69%     0.92%     0.92%     0.77%      0.0%      0.0%
   LTV                  $16.68     $0.94     $0.76      $0.6     $0.57     $0.65     $0.29     $0.18     $0.16     $0.16      $0.0      $0.0

====================================================================================================

2. Three Farmers - Roasted Lentils | Sea Salt | 12 Pack - 1.4oz Snack Packs | Gluten-Free | Vegan | Kosher | Plant Protein | High Fibre | Low Fat | Non-GMO Certified
   Cohort Size: 303
   SKU: 101.201.4908

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        303        20        21        14        13         9         5         7         3         2         0         0
   Purchases               309        27        29        18        23        14        10        19         6        13         0         0
   Revenue                6794       593       637       395       505       307       219       417       131       285         0         0
   Cumulative Revenue      6794      7388      8026      8422      8927      9235      9455      9873     10005     10291     10291     10291
   Retention Rate       100.0%      6.6%     6.93%     4.62%     4.29%     2.97%     1.65%     2.31%     0.99%     0.66%      0.0%      0.0%
   LTV                  $22.42     $1.96      $2.1      $1.3     $1.67     $1.01     $0.72     $1.38     $0.43     $0.94      $0.0      $0.0

====================================================================================================

3. Three Farmers - Snacks To Go Variety Snack Pack | Roasted Fava Beans (10), Chickpeas (10) & Lentils (10) | 30 Pack - 15g (0.5oz) | Gluten-Free | Vegan | Kosher | Plant Protein | High Fibre | Low Fat | Non-GMO Certified
   Cohort Size: 301
   SKU: 101.201.5121 -1

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        301         5         3         3         2         1         1         0         0         0         0         0
   Purchases               301         5         3         3         3         1         1         0         0         0         0         0
   Revenue                9026       149        89        89        89        29        29         0         0         0         0         0
   Cumulative Revenue      9026      9176      9266      9356      9446      9476      9506      9506      9506      9506      9506      9506
   Retention Rate       100.0%     1.66%      1.0%      1.0%     0.66%     0.33%     0.33%      0.0%      0.0%      0.0%      0.0%      0.0%
   LTV                  $29.99      $0.5      $0.3      $0.3      $0.3      $0.1      $0.1      $0.0      $0.0      $0.0      $0.0      $0.0

====================================================================================================

4. Three Farmers - Roasted Fava Beans | Variety Pack | 5 Pack -140g | Gluten-Free | Vegan | Kosher | Plant Protein | High Fibre | Low Fat | Non-GMO Certified
   Cohort Size: 244
   SKU: 111.226.4907

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        244        11        11        13         8         8         5         8         3         1         1         0
   Purchases               246        12        15        13         8        11         7        10         4         1         1         0
   Revenue                6075       295       375       325       200       275       175       250       100        25        25         0
   Cumulative Revenue      6075      6370      6745      7070      7270      7545      7720      7970      8070      8095      8120      8120
   Retention Rate       100.0%     4.51%     4.51%     5.33%     3.28%     3.28%     2.05%     3.28%     1.23%     0.41%     0.41%      0.0%
   LTV                   $24.9     $1.21     $1.54     $1.33     $0.82     $1.13     $0.72     $1.02     $0.41      $0.1      $0.1      $0.0

====================================================================================================

5. Three Farmers - Roasted Fava Beans Variety Pack | Zesty Cheddar, Sweet Chili & Sea Salt | 3 Pack - 140g | Gluten-Free | Vegan | Kosher | Plant Protein | High Fibre | Low Fat | Non-GMO Certified
   Cohort Size: 222
   SKU: 2O-2BH8-EBBX

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        222        10         4         2         3         5         4         1         1         0         2         0
   Purchases               222        10         4         2         3         5         4         1         1         0         2         0
   Revenue                3740       170        68        34        51        85        68        17        17         0        34         0
   Cumulative Revenue      3740      3910      3978      4012      4063      4148      4216      4233      4250      4250      4284      4284
   Retention Rate       100.0%      4.5%      1.8%      0.9%     1.35%     2.25%      1.8%     0.45%     0.45%      0.0%      0.9%      0.0%
   LTV                  $16.85     $0.77     $0.31     $0.15     $0.23     $0.38     $0.31     $0.08     $0.08      $0.0     $0.15      $0.0

====================================================================================================

6. Three Farmers - Roasted Chickpeas Variety Pack | Sea Salt & Lime, Barbecue, & Sea Salt | 3 Pack -4.2oz | Gluten-Free | Vegan | Kosher | Plant Protein | High Fibre | Low Fat | Non-GMO Certified
   Cohort Size: 204
   SKU: Amazon.Found.B093QGJCDH

   Monthly Metrics:
   Metric              Month 1   Month 2   Month 3   Month 4   Month 5   Month 6   Month 7   Month 8   Month 9  Month 10  Month 11  Month 12
   --------------------------------------------------------------------------------------------------------------------------------------------
   Active Customers        204         4         4         2         1         0         2         0         0         0         0         0
   Purchases               205         4         4         2         1         0         2         0         0         0         0         0
   Revenue                3481        68        68        34        17         0        34         0         0         0         0         0
   Cumulative Revenue      3481      3549      3617      3651      3668      3668      3702      3702      3702      3702      3702      3702
   Retention Rate       100.0%     1.96%     1.96%     0.98%     0.49%      0.0%     0.98%      0.0%      0.0%      0.0%      0.0%      0.0%
   LTV                  $17.06     $0.33     $0.33     $0.17     $0.08      $0.0     $0.17      $0.0      $0.0      $0.0      $0.0      $0.0

====================================================================================================

Total products analyzed: 6

In [48]:
# Create the final CSV export in the exact format from the image
def export_product_ltv_table():
    """Export Product LTV table in the exact format shown in the image"""
    
    # Create the structured table for CSV export
    csv_rows = []
    
    for product in product_ltv_data:
        # Create header row for each product
        product_header = {
            '#': product['#'],
            'Product Title': product['Product Title'],
            'Cohort Size': product['Cohort Size'],
            'Metric': 'Metric',  # Header for metrics column
        }
        
        # Add month headers
        for month_num in range(1, 13):
            product_header[f'Month {month_num}'] = f'Month {month_num}'
        
        # Add the product header (this creates the structure like in the image)
        # csv_rows.append(product_header)
        
        # Add each metric as a separate row
        metrics = ['Active Customers', 'Purchases', 'Revenue', 'Cumulative Revenue', 'Retention Rate', 'LTV']
        
        for metric in metrics:
            metric_row = {
                '#': product['#'] if metric == 'Active Customers' else '',  # Only show # on first metric row
                'Product Title': product['Product Title'] if metric == 'Active Customers' else '',  # Only show title on first metric row  
                'Cohort Size': product['Cohort Size'] if metric == 'Active Customers' else '',  # Only show cohort size on first metric row
                'Metric': metric
            }
            
            # Add values for each month
            for month_num in range(1, 13):
                value = product[f'Month {month_num}'][metric]
                if metric == 'Retention Rate':
                    metric_row[f'Month {month_num}'] = f"{value}%"
                elif metric == 'LTV':
                    metric_row[f'Month {month_num}'] = f"${value}"
                else:
                    metric_row[f'Month {month_num}'] = value
            
            csv_rows.append(metric_row)
    
    # Convert to DataFrame and export
    export_df = pd.DataFrame(csv_rows)
    export_df.to_csv('Product_LTV_Final.csv', index=False)
    
    return export_df

# Export the table
final_export = export_product_ltv_table()
final_export

,#,Product Title,Cohort Size,Metric,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12
0,1,Three Farmers Roasted Lentils Variety Pack Sna...,651,Active Customers,651,28,26,23,19,20,11,6,6,5,0,0
1,,,,Purchases,651,36,29,23,22,25,11,7,6,6,0,0
2,,,,Revenue,10856,612,493,391,374,425,187,119,102,102,0,0
3,,,,Cumulative Revenue,10856,11468,11961,12352,12726,13151,13338,13457,13559,13661,13661,13661
4,,,,Retention Rate,100.0%,4.3%,3.99%,3.53%,2.92%,3.07%,1.69%,0.92%,0.92%,0.77%,0.0%,0.0%
5,,,,LTV,$16.68,$0.94,$0.76,$0.6,$0.57,$0.65,$0.29,$0.18,$0.16,$0.16,$0.0,$0.0
6,2,Three Farmers - Roasted Lentils | Sea Salt | 1...,303,Active Customers,303,20,21,14,13,9,5,7,3,2,0,0
7,,,,Purchases,309,27,29,18,23,14,10,19,6,13,0,0
8,,,,Revenue,6794,593,637,395,505,307,219,417,131,285,0,0
9,,,,Cumulative Revenue,6794,7388,8026,8422,8927,9235,9455,9873,10005,10291,10291,10291
10,,,,Retention Rate,100.0%,6.6%,6.93%,4.62%,4.29%,2.97%,1.65%,2.31%,0.99%,0.66%,0.0%,0.0%
11,,,,LTV,$22.42,$1.96,$2.1,$1.3,$1.67,$1.01,$0.72,$1.38,$0.43,$0.94,$0.0,$0.0
12,3,Three Farmers - Snacks To Go Variety Snack Pac...,301,Active Customers,301,5,3,3,2,1,1,0,0,0,0,0
13,,,,Purchases,301,5,3,3,3,1,1,0,0,0,0,0
14,,,,Revenue,9026,149,89,89,89,29,29,0,0,0,0,0
15,,,,Cumulative Revenue,9026,9176,9266,9356,9446,9476,9506,9506,9506,9506,9506,9506
16,,,,Retention Rate,100.0%,1.66%,1.0%,1.0%,0.66%,0.33%,0.33%,0.0%,0.0%,0.0%,0.0%,0.0%
17,,,,LTV,$29.99,$0.5,$0.3,$0.3,$0.3,$0.1,$0.1,$0.0,$0.0,$0.0,$0.0,$0.0
18,4,Three Farmers - Roasted Fava Beans | Variety P...,244,Active Customers,244,11,11,13,8,8,5,8,3,1,1,0
19,,,,Purchases,246,12,15,13,8,11,7,10,4,1,1,0
20,,,,Revenue,6075,295,375,325,200,275,175,250,100,25,25,0
21,,,,Cumulative Revenue,6075,6370,6745,7070,7270,7545,7720,7970,8070,8095,8120,8120
22,,,,Retention Rate,100.0%,4.51%,4.51%,5.33%,3.28%,3.28%,2.05%,3.28%,1.23%,0.41%,0.41%,0.0%
23,,,,LTV,$24.9,$1.21,$1.54,$1.33,$0.82,$1.13,$0.72,$1.02,$0.41,$0.1,$0.1,$0.0
24,5,Three Farmers - Roasted Fava Beans Variety Pac...,222,Active Customers,222,10,4,2,3,5,4,1,1,0,2,0
25,,,,Purchases,222,10,4,2,3,5,4,1,1,0,2,0
26,,,,Revenue,3740,170,68,34,51,85,68,17,17,0,34,0
27,,,,Cumulative Revenue,3740,3910,3978,4012,4063,4148,4216,4233,4250,4250,4284,4284
28,,,,Retention Rate,100.0%,4.5%,1.8%,0.9%,1.35%,2.25%,1.8%,0.45%,0.45%,0.0%,0.9%,0.0%
29,,,,LTV,$16.85,$0.77,$0.31,$0.15,$0.23,$0.38,$0.31,$0.08,$0.08,$0.0,$0.15,$0.0
30,6,Three Farmers - Roasted Chickpeas Variety Pack...,204,Active Customers,204,4,4,2,1,0,2,0,0,0,0,0
31,,,,Purchases,205,4,4,2,1,0,2,0,0,0,0,0
32,,,,Revenue,3481,68,68,34,17,0,34,0,0,0,0,0
33,,,,Cumulative Revenue,3481,3549,3617,3651,3668,3668,3702,3702,3702,3702,3702,3702
34,,,,Retention Rate,100.0%,1.96%,1.96%,0.98%,0.49%,0.0%,0.98%,0.0%,0.0%,0.0%,0.0%,0.0%
35,,,,LTV,$17.06,$0.33,$0.33,$0.17,$0.08,$0.0,$0.17,$0.0,$0.0,$0.0,$0.0,$0.0

In [50]:
final_export

,#,Product Title,Cohort Size,Metric,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,Month 9,Month 10,Month 11,Month 12
0,1,Three Farmers Roasted Lentils Variety Pack Sna...,651,Active Customers,651,28,26,23,19,20,11,6,6,5,0,0
1,,,,Purchases,651,36,29,23,22,25,11,7,6,6,0,0
2,,,,Revenue,10856,612,493,391,374,425,187,119,102,102,0,0
3,,,,Cumulative Revenue,10856,11468,11961,12352,12726,13151,13338,13457,13559,13661,13661,13661
4,,,,Retention Rate,100.0%,4.3%,3.99%,3.53%,2.92%,3.07%,1.69%,0.92%,0.92%,0.77%,0.0%,0.0%
5,,,,LTV,$16.68,$0.94,$0.76,$0.6,$0.57,$0.65,$0.29,$0.18,$0.16,$0.16,$0.0,$0.0
6,2,Three Farmers - Roasted Lentils | Sea Salt | 1...,303,Active Customers,303,20,21,14,13,9,5,7,3,2,0,0
7,,,,Purchases,309,27,29,18,23,14,10,19,6,13,0,0
8,,,,Revenue,6794,593,637,395,505,307,219,417,131,285,0,0
9,,,,Cumulative Revenue,6794,7388,8026,8422,8927,9235,9455,9873,10005,10291,10291,10291
10,,,,Retention Rate,100.0%,6.6%,6.93%,4.62%,4.29%,2.97%,1.65%,2.31%,0.99%,0.66%,0.0%,0.0%
11,,,,LTV,$22.42,$1.96,$2.1,$1.3,$1.67,$1.01,$0.72,$1.38,$0.43,$0.94,$0.0,$0.0
12,3,Three Farmers - Snacks To Go Variety Snack Pac...,301,Active Customers,301,5,3,3,2,1,1,0,0,0,0,0
13,,,,Purchases,301,5,3,3,3,1,1,0,0,0,0,0
14,,,,Revenue,9026,149,89,89,89,29,29,0,0,0,0,0
15,,,,Cumulative Revenue,9026,9176,9266,9356,9446,9476,9506,9506,9506,9506,9506,9506
16,,,,Retention Rate,100.0%,1.66%,1.0%,1.0%,0.66%,0.33%,0.33%,0.0%,0.0%,0.0%,0.0%,0.0%
17,,,,LTV,$29.99,$0.5,$0.3,$0.3,$0.3,$0.1,$0.1,$0.0,$0.0,$0.0,$0.0,$0.0
18,4,Three Farmers - Roasted Fava Beans | Variety P...,244,Active Customers,244,11,11,13,8,8,5,8,3,1,1,0
19,,,,Purchases,246,12,15,13,8,11,7,10,4,1,1,0
20,,,,Revenue,6075,295,375,325,200,275,175,250,100,25,25,0
21,,,,Cumulative Revenue,6075,6370,6745,7070,7270,7545,7720,7970,8070,8095,8120,8120
22,,,,Retention Rate,100.0%,4.51%,4.51%,5.33%,3.28%,3.28%,2.05%,3.28%,1.23%,0.41%,0.41%,0.0%
23,,,,LTV,$24.9,$1.21,$1.54,$1.33,$0.82,$1.13,$0.72,$1.02,$0.41,$0.1,$0.1,$0.0
24,5,Three Farmers - Roasted Fava Beans Variety Pac...,222,Active Customers,222,10,4,2,3,5,4,1,1,0,2,0
25,,,,Purchases,222,10,4,2,3,5,4,1,1,0,2,0
26,,,,Revenue,3740,170,68,34,51,85,68,17,17,0,34,0
27,,,,Cumulative Revenue,3740,3910,3978,4012,4063,4148,4216,4233,4250,4250,4284,4284
28,,,,Retention Rate,100.0%,4.5%,1.8%,0.9%,1.35%,2.25%,1.8%,0.45%,0.45%,0.0%,0.9%,0.0%
29,,,,LTV,$16.85,$0.77,$0.31,$0.15,$0.23,$0.38,$0.31,$0.08,$0.08,$0.0,$0.15,$0.0
30,6,Three Farmers - Roasted Chickpeas Variety Pack...,204,Active Customers,204,4,4,2,1,0,2,0,0,0,0,0
31,,,,Purchases,205,4,4,2,1,0,2,0,0,0,0,0
32,,,,Revenue,3481,68,68,34,17,0,34,0,0,0,0,0
33,,,,Cumulative Revenue,3481,3549,3617,3651,3668,3668,3702,3702,3702,3702,3702,3702
34,,,,Retention Rate,100.0%,1.96%,1.96%,0.98%,0.49%,0.0%,0.98%,0.0%,0.0%,0.0%,0.0%,0.0%
35,,,,LTV,$17.06,$0.33,$0.33,$0.17,$0.08,$0.0,$0.17,$0.0,$0.0,$0.0,$0.0,$0.0